    body {
    background-image: url('mountain.jpg'); 
    background-color: rgb(248, 226, 226);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size:cover;
  }
  #myfile{
    background-color:blue;
    font-weight: bolder;
    text-align: center;
    padding: 10px;;

  }
   .city {
    background-color: rgb(0, 0, 0);
    color: white;
    border: 2px solid rgb(255, 255, 255);
    margin: 20px;
    padding: 20px;
  }
  .note{
    font-size: 150%;
    color:red;
    text-decoration: underline;
  }
   ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     background-color:green;
   }
 
   li a {
     display:block;
     color: white;
     text-align: center;
     padding: 10px;
     text-decoration: none;
   }
   
   li a:hover {
     background-color: blue;
   }  

 /*  if you added border in the table then you
  have to mention the pixels and the colour of the
  border AND THEN THE OTHER BORDER PROPERTIES CANNOT
  be applied on it .*/
/* 
  th{
    font-size: xx-large;
  } */
   th, td
  { text-align: center;
    border-style: solid;
    border-color: blue ;
    border-collapse: collapse;
    border-radius: 6px;
     } 
  tr:hover{
    background-color: aliceblue;
  }
  /* }
  table,th,td{
    border: 2px solid black;
    border-collapse: collapse;
  } */

  h1{

    text-decoration: underline;
  }

  h4{
    text-decoration: underline;
    text-align: center;
    color: blue;
    font-size: 300%;
    font-family:   Arial, sans-serif;
    border: 1pX SOLID black;
    padding: 2px;
    margin-left: 150px;
    margin-right:  150px;
  }
  p {
    font-style: oblique;
    text-align: left;
    font-size: 150%;
    color: red;
    font-family: Arial;
    /*border: 2px solid rgb(142, 106, 66);
    padding: 1px;  */
    /* Setting margins for all sides */
   margin: 10px; /* Creates a 10px margin on all sides of the element */
  /* Setting margins for specific sides */
  margin-top: 20px;
  margin-right: 300px;
  margin-bottom: 30px;
  /* margin-left: 300px; */
}
/* 
BACKGROUND SIZE IS IMPORTANT BECAUSE IT  NECESSARY FOR THE BACKGROUND TO COVER 
THE WHOLE SIZE IRRESPECTED OF SIZE OF THE WEB  */